@font-face {
  font-family: "Bold";
  src: local("AvenirNextforINTUIT_Bold"),
    url("./assets/fonts/AvenirNextforINTUIT-Bold.1.woff2") format("woff");
}

@font-face {
  font-family: "Demi1";
  src: local("AvenirNextforINTUIT_Demi1"),
    url("./assets/fonts/AvenirNextforINTUIT-Demi.1.woff2") format("woff");
}

@font-face {
  font-family: "Demi2";
  src: local("AvenirNextforINTUIT_Demi2"),
    url("./assets/fonts/AvenirNextforINTUIT-Demi.2.woff2") format("woff");
}

@font-face {
  font-family: "Regular1";
  src: local("AvenirNextforINTUIT_Regular1"),
    url("./assets/fonts/AvenirNextforINTUIT-Regular.1.woff2") format("woff");
}

@font-face {
  font-family: "Regular2";
  src: local("AvenirNextforINTUIT_Regular2"),
    url("./assets/fonts/AvenirNextforINTUIT-Regular.2.woff2") format("woff");
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

p {
  margin: 0px;
  padding: 0px;
}